body {
    font-family:'segoe UI',Tahoma, sans-serif;
    background-color: rgba(100, 180, 218, 0.899);
}
p {
    color: navy;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
    font-weight:bold;
}
.sale {
    font-weight:bold;
    background-color:aqua;
}
#sidenote {
    background-color:#dbd9d9;
}